<div class="container" *ngIf="!isGameFull">
  <ngb-progressbar [type]="isRoundOpen ? 'primary' : 'warning'" type="primary" [value]="progress">
  </ngb-progressbar>
</div>
<div class="container" *ngIf="!challenge && !isGameFull">
  <h2>Connected!</h2>
  <h3>Waiting for the first challenge...</h3>
</div>
<div class="container" *ngIf="isGameFull">
  <h3>Sorry, the game is full.</h3>
  <h1>Try again later.</h1>
</div>
<div class="container" *ngIf="isRoundOpen">
  <h3>Round #{{round}}</h3>
  <h1>{{challenge}}</h1>
</div>
<div class="container" *ngIf="!isRoundOpen && challenge">
  <h2>Round #{{round}} ended.</h2>
  <h3>Waiting for the next challenge...</h3>
</div>
<div class="container">
  <div class="row" *ngIf="isRoundOpen">
    <div class="col-sm pr-0">
      <button type="button" class="btn btn-success btn-lg" (click)="answer(true)">
        Correct
      </button>
    </div>
    <div class="col-sm pl-0">
      <button type="button" class="btn btn-danger btn-lg" (click)="answer(false)">
        Wrong
      </button>
    </div>
  </div>
</div>
