<div class="container" *ngIf="!equation">
  <h2>Connected!</h2>
  <h3>Waiting for the first challenge...</h3>
</div>
<div class="container" *ngIf="isRoundOpen">
  <h2>{{equation}}</h2>
</div>
<div class="container" *ngIf="!isRoundOpen && equation">
  <h2>Round ended.</h2>
  <h3>Waiting for the next challenge...</h3>
</div>
<div class="container">
  <div class="row" *ngIf="isRoundOpen">
    <div class="col-md-6">
      <button type="button" class="btn btn-success btn-lg" (click)="answer(true)">
        Correct
      </button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-danger btn-lg" (click)="answer(false)">
        Wrong
      </button>
    </div>
  </div>
  <p>
    <ngb-progressbar [type]="isRoundOpen ? 'primary' : 'warning'" type="primary" [value]="progress">
    </ngb-progressbar>
  </p>
</div>
