<ul class="list-group">
  <li class="list-group-item list-group-item-secondary">Players ranking</li>
  <li class="list-group-item text-left active">
    1. You
    <span class="badge badge-primary badge-pill">14</span>
  </li>
  <li class="list-group-item text-left">
    2. Player 2
    <span class="badge badge-primary badge-pill">10</span>
  </li>
  <li class="list-group-item text-left">
    3. Player 4
    <span class="badge badge-primary badge-pill">9</span>
  </li>
  <li class="list-group-item text-left">
    4. Player 7
    <span class="badge badge-primary badge-pill">3</span>
  </li>
  <li class="list-group-item text-left">
    5. Player 3
    <span class="badge badge-primary badge-pill">0</span>
  </li>
</ul>

