<ul class="list-group pt-2 pb-2" *ngIf="players.length > 0">
  <li class="list-group-item list-group-item-secondary">Scoreboard</li>
  <li class="list-group-item text-left" *ngFor="let player of players; let i = index" [ngClass]="{'active' : player.socketId == mySocketId }">
    {{i+1}}. {{player.name}}
    <span class="badge badge-warning badge-pill pull-right">{{player.score}}</span>
  </li>
</ul>

<p class="pt-2 pb-2">
  <button type="button" class="btn btn-danger btn-lg" routerLink="" (click)="exit()">
    Exit
  </button>
</p>
