<div class="row">
  <div class="col-sm-8">
    <div class="pt-2 pb-2" *ngIf="headerMessage">
      <p>
        <ngb-progressbar [type]="progress < 100 ? 'primary' : 'danger'" [value]="progress">
        </ngb-progressbar>
      </p>
      <h2>{{headerMessage}}</h2>
    </div>
    <div *ngIf="!headerMessage">
      <app-game (mySocketId)="onMySocketId($event)" [playerName]="playerName"></app-game>
    </div>
  </div>
  <div class="col-sm-4">
    <app-players [mySocketId]="mySocketId"></app-players>
  </div>
</div>
